{% extends 'base.html' %}
{% block head %}
<title>Elo Project</title>
{% endblock %}

{% block body %}
<div class="form">
    <form method="post" action="/">
        {{eloaddform.name.label}} {{ eloaddform.name }}
        {{eloaddform.score.label}} {{ eloaddform.score }}
        <input type="submit" value="Add Elo"/>
    </form>
</div>

<div class="form">
    <form method="post" action="/add_player/">
        {{ playeraddform.player }}
        <input type="submit" value="+"/>
    </form>
</div>


<table>
    <tr>
        <th>Name</th>
        <th>Elo Score</th>
        <th></th>
    </tr>
    {% for elo in elos %}
        <tr>
            <td>{{ elo.name }}</td>
            <td>{{ elo.score }}</td>
            <td>
                <a href="/delete/{{elo.id}}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>

<br>
<br>

<form method="post" action="/calc_elo/">
    <table>
        <tr>
            <th>Name</th>
            <th>Elo</th>
            <th>Place</th>
        </tr>
        {% for player in players %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.score }}</td>
                <td>
                    {{ placeform.place }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="calc"/>
</form>

{% endblock %}