{% extends 'base.html' %}
{% block head %}
<title>Elo Project</title>
{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Name</th>
        <th>Elo Score</th>
        <th></th>
    </tr>
    {% for elo in elos %}
        <tr>
            <td>{{ elo.name }}</td>
            <td>{{ elo.score }}</td>
            <td>
                <a href="/delete/{{elo.id}}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>

<div class="form">
    <form action="/" method="POST">
        <input type="text" name="name" id="name" value="Name">
        <input type="number" name="score" id ="score" value="1000">
        <input type="submit" value="Add Elo">
    </form>
</div>

<br>
<br>

<div class="form">
    <form action="/update_elos/" method="POST">
        <input type="name" name="name" id="name" value="Name">
        <input type="number" name="place" id ="place">
        <br>
        <input type="name" name="name" id="name" value="Name">
        <input type="number" name="place" id ="place">
        <br>
        <input type="name" name="name" id="name" value="Name">
        <input type="number" name="place" id ="place">
        <br>
        <input type="name" name="name" id="name" value="Name">
        <input type="number" name="place" id ="place">
        <br>
        <input type="submit" value="Calculate Elos">
    </form>
</div>

{% endblock %}